@import "reset.css";
@font-face {
  font-family: "A typewriter for me";
  font-style: normal;
  src: url("../fonts/ATypewriterForMe.ttf");
}

html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header-content {
  height: 100%;
  width: 10%;
}

.main-content {
  width: 90%;
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #24262b;
  color: #f9f9f9;
}
.loading {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
@import "navbar.css";
