@import "reset.css";
@font-face {
  font-family: "A typewriter for me";
  font-style: normal;
  src: url("../fonts/ATypewriterForMe.ttf");
}

html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

@media (min-width: 768px) {
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }

  #root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
@import "navbar.css";
