.list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 8% 0;
}
.list-container h5{
  font-size: 1.2em;
  font-family: "A typewriter for me";
}

#heroes-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  padding: 0;
  overflow: auto;
}

.hero-list-name {
  padding: 3%;
  border-radius: 30px;
  list-style-type: none;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 2%;
}

@media (min-width: 768px){
  .list-container {
      padding: 2% 0;
  }
  #heroes-list {
    width: 60%;
  }
}
