.nav-bar .logo {
    background-color: #0476f2;
}
.nav-bar .logo .logo-icon:hover {
    color: red;
}
.nav-bar .logo .logo-text {
    color: #f9f9f9;
}
.nav-bar .menu {
    background-color: #283044;
}
.nav-bar .menu .menu-item .menu-link {
    color: black;
}
.nav-bar .menu-item .menu-link i {
    color: #78a1bb;
}
.menu-link i:hover {
    color: yellow;
}
.nav-bar .menu .menu-item .menu-link span {
    color: #f9f9f9;
}
.nav-bar .user-panel {
    background-color: #0476f2;
    color: #f9f9f9;
}