@import 'reset.css';
@font-face {
  font-family: "A typewriter for me";
  font-style: normal;
  src: url("../fonts/ATypewriterForMe.ttf");
}
header {
  height: 100%;
  width: 175px;
  float: left;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  background-color: #c9e2e1;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.36);
}
.nav-bar .logo {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0476F2;
}
.nav-bar .logo .logo-icon {
  color: #F9F9F9;
  font-size: 5em;
}
.nav-bar .logo .logo-text {
  font-family: "Play", sans-serif;
  font-size: 22px;
  color: #F9F9F9;
}
.nav-bar .menu {
  height: 70%;
  padding: 10% 0;
  background-color: #283044;
  font-family: "Fjalla One", sans-serif;
}
.nav-bar .menu .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50% 0;
  list-style-type: none;
}
.nav-bar .menu .menu-item .menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}
.nav-bar .menu .menu-item .menu-link i {
  font-size: 3em;
  text-align: center;
  color: #78A1BB;
}
.nav-bar .menu .menu-item .menu-link span {
  font-size: 1em;
  color: #F9F9F9;
}
.nav-bar .user-panel {
  height: 15%;
  display: flex;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  background-color: #0476F2;
  color: #F9F9F9;
  font-family: "Fjalla One", sans-serif;
}
.nav-bar .user-panel #user-photo {
  width: 50px;
  height: 50px;
}
.nav-bar .user-panel #user-info {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-bar .user-panel #user-info span {
  font-size: 1.1em;
}
.nav-bar .user-panel #user-info i {
  font-size: 25px;
}

@font-face {
  font-family: "A typewriter for me";
  font-style: normal;
  src: url("../fonts/ATypewriterForMe.ttf");
}
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #24262B;
  color: #F9F9F9;
}

.favorites-title {
  font-size: 4em;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

.favorites-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 3fr;
  grid-gap: 5%;
  width: 80%;
  height: auto;
  padding: 2%;
  margin: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: center;
}

.favorite-hero {
  position: relative;
  text-align: center;
  color: red;
}
.favorite-hero:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.favorite-hero .remove-button {
  position: absolute;
  font-size: 2em;
  right: -19px;
  top: -19px;
}
.favorite-hero .remove-button:hover {
  transition: 0.5s;
  transform: scale(1.3);
}
.favorite-hero .favorite-image {
  width: 100%;
  height: 100%;
}
.favorite-hero .favorite-name {
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 30px;
  font-family: "A typewriter for me";
  transform: translate(-50%, 0%);
  background-color: rgba(4, 16, 8, 0.58);
  width: 100%;
  height: 40px;
}

/*# sourceMappingURL=favorites.css.map */
