@import url(/home/mateus/Documents/Repositories/superheroesindex/src/design/css/reset.css);
@font-face {
  font-family: 'A typewriter for me';
  font-style: normal;
  src: url("../fonts/ATypewriterForMe.ttf");
}

header {
  height: 100%;
  width: 175px;
  float: left;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  background-color: #c9e2e1;
  -webkit-box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.36);
}

.nav-bar .logo {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0476F2;
}

.nav-bar .logo .logo-icon {
  color: #F9F9F9;
  font-size: 5em;
}

.nav-bar .logo .logo-text {
  font-family: "Play", sans-serif;
  font-size: 22px;
  color: #F9F9F9;
}

.nav-bar .menu {
  height: 70%;
  padding: 10% 0;
  background-color: #283044;
  font-family: "Fjalla One", sans-serif;
}

.nav-bar .menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50% 0;
  list-style-type: none;
}

.nav-bar .menu .menu-item .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.nav-bar .menu .menu-item .menu-link i {
  font-size: 3em;
  text-align: center;
  color: #78A1BB;
}

.nav-bar .menu .menu-item .menu-link span {
  font-size: 1em;
  color: #F9F9F9;
}

.nav-bar .user-panel {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0476F2;
  color: #F9F9F9;
  font-family: "Fjalla One", sans-serif;
}

.nav-bar .user-panel #user-photo {
  width: 50px;
  height: 50px;
}

.nav-bar .user-panel #user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .user-panel #user-info span {
  font-size: 1.1em;
}

.nav-bar .user-panel #user-info i {
  font-size: 25px;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#heroes-list {
  border: 1px solid #eee;
  width: 30%;
  padding: 0;
}

.hero-list-name {
  padding: 3%;
  border: 1px solid #eee;
  list-style-type: none;
  font-size: 1.5em;
}
/*# sourceMappingURL=listHeroes.css.map */