@import url(/home/mateus/Documents/Repositories/superheroesindex/src/design/css/reset.css);
@font-face {
  font-family: 'A typewriter for me';
  font-style: normal;
  src: url("../fonts/ATypewriterForMe.ttf");
}

header {
  height: 100%;
  width: 175px;
  float: left;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  background-color: #c9e2e1;
  -webkit-box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.36);
}

.nav-bar .logo {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0476F2;
}

.nav-bar .logo .logo-icon {
  color: #F9F9F9;
  font-size: 5em;
}

.nav-bar .logo .logo-text {
  font-family: "Play", sans-serif;
  font-size: 22px;
  color: #F9F9F9;
}

.nav-bar .menu {
  height: 70%;
  padding: 10% 0;
  background-color: #283044;
  font-family: "Fjalla One", sans-serif;
}

.nav-bar .menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50% 0;
  list-style-type: none;
}

.nav-bar .menu .menu-item .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.nav-bar .menu .menu-item .menu-link i {
  font-size: 3em;
  text-align: center;
  color: #78A1BB;
}

.nav-bar .menu .menu-item .menu-link span {
  font-size: 1em;
  color: #F9F9F9;
}

.nav-bar .user-panel {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0476F2;
  color: #F9F9F9;
  font-family: "Fjalla One", sans-serif;
}

.nav-bar .user-panel #user-photo {
  width: 50px;
  height: 50px;
}

.nav-bar .user-panel #user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .user-panel #user-info span {
  font-size: 1.1em;
}

.nav-bar .user-panel #user-info i {
  font-size: 25px;
}

main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "hero-name hero-name hero-name" "appearance biography power-status" "appearance biography power-status" "appearance work power-status" "appearance connections power-status";
  grid-gap: 10px;
}

.profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#hero-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: hero-name;
  padding: 0 4%;
}

#appearance {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: appearance;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3%;
  border-right: 2px solid #eee;
}

#appearance img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#biography {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: biography;
  padding: 3%;
  border-right: 2px solid #eee;
}

#biography #alter-egos {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#biography #aliases {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#work {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: work;
  padding: 3%;
}

#connections {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: connections;
  padding: 3%;
}

#power-status {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: power-status;
  padding: 3%;
}
/*# sourceMappingURL=profile.css.map */