.favorites-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.favorites-title {
  font-size: 4em;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

.favorites-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 3fr;
  grid-gap: 5%;
  width: 80%;
  height: auto;
  padding: 4%;
  margin: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: center;
}

.favorite-hero {
  position: relative;
  text-align: center;
  color: red;
}
.favorite-hero:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.favorite-hero .remove-button {
  position: absolute;
  font-size: 2em;
  right: -19px;
  top: -19px;
}
.favorite-hero .remove-button:hover {
  transition: 0.5s;
  transform: scale(1.3);
}
.favorite-hero .favorite-image {
  width: 100%;
  height: 100%;
}
.favorite-hero .favorite-name {
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 30px;
  font-family: "A typewriter for me";
  transform: translate(-100%, 0%);
  background-color: rgba(4, 16, 8, 0.58);
  width: 100%;
  height: 40px;
}
